body{
    font-family: sans-serif;
    background-image: url(../images/wheat2.jpg);
    background-attachment: fixed;
    margin: 0px;
}
main{
    text-align: center;
    margin: 0px;
}
/*navigation bar*/
nav{
    text-align: center;
    font-size: 1.6em;
}
#bar{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: center;

}
a:link, a:visited{
    display: block;
    width: auto;
    text-align: center;
    color: forestgreen;
    background-color: wheat;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;


}
a:hover, actice {
    background-color: saddlebrown;
}
/*Daily Forcast*/
h1{
    font-size: 2.5em;
}
.forecast{
    margin-top: 1px;
    font-size: 2em;
}
figure{
    width: 250px;
}

.hi{
    padding:0;
    margin-right:0;
    margin-bottom: 0px;
    float: right;
    color: red;
    font-size: 2.5em;
}
.lo{
    padding:0;
    margin-left:20px;
    margin-bottom: 0px;
    float: right;
    color: blue;
    font-size: 2.5em;
}
.wind{
    margin-bottom: 1px;
    top: -300px;
    font-size: 2em;
}
.ll{
    margin-top: 1px;
    top: -300px;
    font-size: 2em;

}
/*Hourly Forcast*/
table, th, td{
    border: 1px solid black;
    margin-left:auto;
    margin-right:auto;
}
#wireS{
    width:300px;
    height: auto;
}
#wireM{
    width:350px;
    height: auto;
}
#wireM{
    width:350px;
    height: auto;
}
footer{color:white}


/* For small screens*/
@media screen and (max-width: 425px){
    table{
        display: none
    }
    #wireM{
        display: none;
    }
    #wireL{
        display: none;
    }
}





/*For medium screens*/
@media screen and (min-width: 426px) and (max-width: 768px){

    #largeH{
        display:none;
    }
    figure{
        margin-left: auto;
        margin-right: auto;
        width: 250px;
    }
    #wireS{
        display: none;
    }
    #wireL{
        display: none;
    }
}








/*For large screens*/
@media screen and (min-width: 769px) and (max-width: 2600px){

    #mediumH{
        display: none;
    }


    /*navigation bar*/
.bar{
    display:inline-flex;
    }
    a:link, a:visited{
        width: 170px;
    }
/*Daily Forcast*/
figure{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
    #wireS{
        display: none;
    }
    #wireM{
        display: none;
    }
}




