body{
    background-image: url(../images/wheat2.jpg);
    background-attachment: fixed;
}

nav{
    text-align: center;
    font-size: 1.6em;
   text-align: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}
a:link, a:visited{
    display: block;
    width: auto;
    color: forestgreen;
    background-color: wheat;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;

}
a:hover, actice {
    background-color: saddlebrown;
}
h1{
   text-align: center;
    font-size: 3em;
}
.forecast{
    margin-top: 1px;
    text-align: center;
    font-size: 2.5em;
}
figure{



}

.hi{
    padding:0;
    margin-right:0;
    position: absolute;
    left:200px;
    top: 475px;
    width: 50px;
    color: red;
    font-size: 2.5em;
}
.lo{
    padding:0;
    margin-right:0;
    position: absolute;
    left:250px;
    top: 475px;
    width: 50px;
    color: blue;
    font-size: 2.5em;
}
.wind{ text-align: center;
    margin-bottom: 1px;
    top: -300px;
    font-size: 2em;
}
.ll{
    text-align: center;
    margin-top: 1px;
    top: -300px;
    font-size: 2em;

}
#wire{
    width:300px;
    height: auto;
}
footer{color:white}
