h1{text-align: center;}
span{
    display: flex;
    flex-direction: row;
}
nav, aside{
    flex: 1 25%;
}
main{
    flex: 2 50%;
}

@media screen and (max-width: 500px){
    span{
        flex-direction: column;
    }
}
